body {
  margin: 0px; /* body 는 margin 의 속성값이 기본 8px 이므로...*/
  background-image: url("/image/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.input-area {
  margin: 10px;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid red;
  position: relative;
}

.task-tabs div {
  padding: 1em;
}

.task-area {
  border: 1px solid palevioletred;
}

#under-line {
  height: 4px;
  background-color: pink;
  position: absolute;
  width: 80px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-done {
  text-decoration: line-through;
}

.done {
  background-color: lightgrey;
}

.task-tabs div {
  cursor: pointer;
}
